.button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #cf1717 0%,
    #a31111 51%,
    #640a0a 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  border: none;
  display: flex;
  margin: auto auto 10px;
}
.button:hover {
  background-position: right center;
}
